[Unit]
Description=Bind media keys to signals
After=display-manager.service

[Service]
ExecStart=/usr/bin/xbindkeys -v -n -f $HOME/.config/xbindkeysrc
Restart=on-failure

[Install]
WantedBy=default.target
